*
{
margin:0;
padding:0;
}
.main
{
	width:100%;
	background:#e4f0ee;
	background-size:cover;
	height:100%	;
}
.quiz
{
background:#fff;
width:60%;
height:60%;
margin:100px auto 0;
border-radius:10px;
padding:30px;
overflow:auto;
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
position: relative;
  border-top: 1px solid rgba(255, 49, 49, 0.5);
  border-right: 1px solid rgba(0, 255, 255, 0.5);
  border-bottom: 1px solid rgba(57, 255, 20, 0.5);
  border-left: 1px solid rgba(255, 255, 113, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 
}
.navbar
{
	width:100%;
	height:7%;
	background-color:#aaf2ea	;
}
.icon
{
	width:200px;
	float:left;
	height:70px;
}
.logo
{
	color:red;
	font-size:35px;
	font-family:Arial;
	padding-left:20px;
	float:left;
	padding-top:10px;
}
.menu
{
	margin-left:28%;
}
ul
{
	float:left;
	display:flex;
	justify-content:center;
	align-items:center;
      margin-top:0%;
}
ul li
{
	list-style:none;
	margin-top:1%;
	margin-left:0.5%;	
      font-size:14px;
      padding-bottom:10px;
      padding-top:10px;


      
}
ul li a
{
	text-decoration:none;
	color:black;
	font-family:Arial;
	font-weight:bold;
	transition:0.4s ease-in-out;
      padding-left:50px;
      padding-right:50px;

}
ul li a:hover
{
	color:black;
	background-color:red;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:30px;
	padding-right:30px;
}
.form
{
	width:15%;
	height:40%;
	background:linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
	position:absolute;
	margin-left:40%;
	border-radius:10px;
	padding:25px;
	padding-top:5%;
		padding-left:3%;

	margin-top:9%;
}
.form h1
{
	width:200px;
	font-family:sans-serif;
	text-align:center;
	color:#ff7200;
	font-size:22px;
	background-color:#fff;
	border-radius:10px;
	margin:2px;
	padding:8px;
	margin-left:6%;
}
.form input
{
	width:240px;
	height:50px;
	background:transparent;
	border-bottom:1px solid #ff7200;
	border-top:none;
	border-right:none;
	border-left:none;
	color:#fff;
	font-size:15px;
	letter-spacing:1px;
	margin-top:30px;
	font-family:sans-serif;
}
.form input:focus
{
	outline:none;
}
::placeholder
{
	color:#fff;
	font-family:Arial;
}
.btnn
{
	width:240px;
	height:40px;
	background:#ff7200;
	border:none;
	margin-top:30px;
	font-size:18px;
	border-radius:10px;
	cursor:pointer;
	color:#fff;
	transition:0.4s ease;
}
.btnn.hover
{
	background:#fff;
	color:#ff7200;
}
.btnn a
{
	text-decoration:none;
	color:#000;
	font-weight:bold;
}
.form .link
{
	font-family:Arial,Helvetica,sans-serif;
    font-size:17px;
    padding-top:3%;

    text-align:center;
}	
.form .link a
{
	text-decoration:none;
	color:#ff7200;
}
.liw
{
	padding-top:15px;
	padding-bottom:10px;
	text-align:center;
}
.submenu1
{
	display:none;
	width:13%;
	height:40%;
	overflow:auto;
      z-index:9;
}
.submenu1::-webkit-scrollbar
 {
  display: none;
}
.menu ul li:hover  .submenu1
{
	
	display:block;
	position:absolute;
	background-color:#aaf2ea;
      margin-top:0.7%;
      box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
      
}
.menu ul li:hover  .submenu1 ul
{
	display:block;
	margin-left:0%;
    margin-right:-10%;
		width:0%;
background-color:orange;

}
.menu ul li:hover  .submenu1 ul li
{
	width:200px;
	border-radius:0;
	

}
.menu ul li:hover  .submenu1 ul li a
{
font-size:0.9em;
padding:10px;
padding-right:100%;
padding-left:5%;

}
.menu ul li:hover  .submenu1 ul li a:hover
{
    background-color:#cacfcc;
    text-align:center;
    color:black;
}
.active
{
background-color:red;
}

.activ
{
background-color:#cacfcc;
}



